<nav class="site-navbar">
    <a class="navbar-brand-plain" href="/">Pantry App</a>
    <div class="navbar-links">
        <a class="nav-tab" data-path="/" href="/">Home</a>
        <a class="nav-tab" data-path="/register" href="/register">Register</a>
        <a class="nav-tab" data-path="/login" href="/login">Login</a>
    </div>
</nav>
<script>
    (function () {
        var path = window.location.pathname;
        document.querySelectorAll('.nav-tab').forEach(function (link) {
            if (link.getAttribute('data-path') === path) {
                link.classList.add('active');
            }
        });
    })();
</script>